.rtl {
    direction: rtl;
    font-family:'vazir' !important;
    font-size: 18px;
    line-height: 1.6em !important;
}

p {
   line-height: 1.6em !important;
}

span {
   line-height: 1.6em !important;
}

.text-rtl {
    text-align: right !important;
}

.main {
    padding-top: 5rem !important;
}

.align-centered {
    display:flex !important;
    align-items:center !important;
}

body {
    background-color: #E0E0E0 !important
}

.violet {
    background-color: #6A1B9A !important;
}