{% extends 'sayhi/base.html' %}
{% load static %}

{% block title %} هر نامه‌ای یک مقصد داره!{% endblock %}

{% block content %}


<div class="ui stackable three column grid rtl centered">
    <div class="column">
        <img src="{% static 'assets/letter.svg' %}" class="ui fluid rounded image">
    </div>
    <div class="column text-rtl align-centered">
        <p> این‌جا ساحلی از نامه‌های رها شده‌است، نامه‌هایی که بین صفر و یک‌ها حرکت می‌کنن و در زمان درست‌شون می‌رسن به
            آدم‌هایی که حتی انتظارش رو ندارن.
            <br/>
            در فیوچرهای نامه‌ها حرکت می‌کنند، فرستنده‌ها پنهان هستن و گیرنده‌ها به شکل رندوم انتخاب می‌شن. با رها کردن
            اولین نامه، می‌تونی منتظر باشی که روزی یک نامه الهام‌بخش رو از غریبه‌ترین آدم‌های این سرزمین دریافت کنی.
            <br/>
            اغلب نامه‌ها الهام‌بخش یا درد و دل‌ها و کلماتی هستن که معمولا نوشته نمی‌شن. نامه‌های فیوچرهای بخش‌هایی از
            وجود کاملا انسانی و زیبای ما رو نشون می‌ده.
            <br/>
            ما نامه‌رسون‌های آینده‌ایم. بین آدم‌ها.</p>
    </div>
</div>

{% endblock %}