{% extends 'sayhi/sidebar.html' %}
{% load static %}
{% load semanticui %}

{% block title %} نوشتن نامه جدید{% endblock %}

{% block content %}
<div class="eight wide column align-centered">
    <form class="ui form text-rtl big" method="post" action=".">
        {% csrf_token %}
        <div class="ui field">
            {{ form.text.errors }}
            {% render_field form.text placeholder="سلام غریبه، حالت خوبه؟" %}
        </div>
        <div class="ui fields">
            <div class="ui calendar" id="calender">
                {{ form.deliver.errors }}
                {% render_field form.deliver %}
                {{ form.media }}
            </div>
        </div>
        <div class="ui field">
            {{ form.from_mail.errors }}
            {% render_field form.from_mail %}
        </div>
        <div class="ui field">
            {{ form.is_public.errors }}
            <div class="ui toggle checkbox">
                {% render_field form.is_public %}
            </div>
        </div>
        <button class="ui button violet rtl" type="submit">رها کردن نامه</button>
    </form>
</div>
</div>
{% endblock %}