{% extends 'sayhi/base.html' %}
{% load static %}
{% load semanticui %}
{% load jalali_tags %}

{% block title %} همه نامه‌های عمومی{% endblock %}

{% block content %}
<div class="ui grid stackable container rtl text-rtl">
    {% for letter in letters %}
    <div class="six wide column">
        <div class="ui piled segment rtl text-rtl">
            <h4 class="ui header rtl text-rtl">ارسال شده به {{ letter.deliver|to_jalali:'%y/%m/%d' }}</h4>
            {{ letter.text }}
        </div>
    </div>
    {% endfor %}
    <div class="column ui four wide">
        <img src="{% static 'assets/public.svg' %}" class="ui fluid rounded image">
    </div>
</div>
{% endblock %}