{% extends 'sayhi/sidebar.html' %}
{% load static %}
{% load semanticui %}
{% load jalali_tags %}

{% block title %} همه‌ی نامه‌های من{% endblock %}
{% block content %}

    <div class="ui eight wide column">
        <div class="ui grid stackable container">
            {% for letter in user.letter_set.all %}
            <div class="six wide column">
                <div class="ui piled segment rtl text-rtl">
                    <h4 class="ui header rtl text-rtl">ارسال شده به {{ letter.deliver|to_jalali:'%y/%m/%d' }}</h4>
                    {{ letter.text }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}