{% extends 'sayhi/base.html' %}
{% load static %}
{% load semanticui %}

{% block sidebar %}

<div class="ui stackable two column grid rtl text-rtl centered" style="padding-top: 1%;">
    <div class="ui four wide column">
        <div class="violet inverted massive right ui vertical menu rtl text-rtl">
            {% if user.is_authenticated %}
            <a class="active item" href="{% url 'show_letters' user.id %}">
                <div class="teal ui small teal label rtl" style="float:left;">{{ user.letter_set.count }}</div>
                نامه‌های رها شده من
            </a>
            {% endif %}
            <div class="item">
                <h4 class="ui header rtl">جهان زیرین</h4>
                <span>جهان زیرین، جهان گذشته‌هاست، نامه‌رسان‌های ما همیشه درحال پرسه زدن بین اون‌هان، همراه با <a
                        href="https://fa.wikipedia.org/wiki/%D9%87%D8%A7%D8%AF%D8%B3">هادس</a> تا زمان درست فرا برسه، آینده تبدیل به حال بشه، اون‌وقت نامه‌رسان‌های ما به دنیای زنده‌ها بر می‌گردن و نامه‌ها می‌رسن به آدم‌ها. با تمام حس و حال درون‌شون.</span>
            </div>
            <div class="item">
                <h4 class="ui header rtl">در جهان زیرین چه خبره؟</h4>
                <p>به محض ثبت‌نام در سایت، می‌تونید به جهان زیرین وارد بشید، اون‌جا نامه‌های بهتری می‌تونید بنویسید.
                    نامه‌هایی به مقصد خاص، یا حتی خودتون در آینده. تاریخچه همه نامه‌های قبلی‌تون هم توسط نامه‌رسان‌ها
                    ثبت
                    شده.</p>
            </div>
            {% if user.is_authenticated %}
            <div class="item">
                <h4 class="ui header rtl">انجمن صنفی نامه‌رسان‌های آینده</h4>
                <p>شما می‌تونید به انجمن صنفی این نامه‌رسان‌ها بپیوندید. یک جای باحال برای اطمینان از تحویل نامه‌های
                    آینده! <br/> <br/>
                    <a class="button" href="{% url 'donate' %}">
                        <button class="ui button inverted rtl" type="button">برو به انجمن نامه‌رسان‌های آینده</button>
                    </a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}