<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% block meta %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>فیوچرهای - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script
            src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
</head>

<body>
<div class="ui violet inverted stackable fixed sticky menu rtl">
    <a class="item" href="{% url 'index' %}">
        <img src="{% static 'assets/logo.jpg' %}">
    </a>
    <a class="item" href="{% url 'new_letter' %}">رها کردن نامه‌ای برای آینده</a>
    <a class="item" href="{% url 'public_letters' %}">نامه‌های عمومی</a>
    {% if not user.is_authenticated %}
    <a class="item active" href="{% url 'auth_login' %}"> ورود به جهان زیرین</a>
    {% else %}
    <a class="item active" href="{% url 'auth_logout' %}"> خروج از جهان زیرین</a>
    {% endif %}

</div>

{% block content %}
{% endblock %}

<script src="{% static 'js/semantic.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>